.mainpage__landing-heading{
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    width: 730px;
    height: 116px;
    position: relative;
    top: -136px;
    margin: 0 auto;
}