.search-form__checkbox-round{
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 2px;
    background-color: #f5f5f5;
}

.search-form__checkbox:checked + .search-form__checkbox-round {
    background-color: #2BE080;
    position: relative;
    left: 16px;
}

.search-form__checkbox:disabled + .search-form__checkbox-round {
    background-color: #f5f5f5;
}