.logo{
    background-image: url(../../images/logo.png);
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    margin: 0;
    background-size: contain;
    align-self: center;
}

/* @media (max-width: 540px){
    .logo{
        width: 103px;
        height: 25px;
        background-size: contain;
        margin-left: 27px;
        padding: 0;
    }
} */